[General]
fullscreen = true
language = en_US
resolution = 1920x1080
subtitles = true
autosave = true
notifications = true
theme = dark
backup_interval = 15
max_framerate = 60
sound_subtitles = false
[Audio]
master_volume = 80
master_mute = false
music_volume = 70
music_mute = false
sfx_volume = 85
sfx_mute = false
voice_volume = 75
voice_mute = false
ambient_volume = 60
ambient_mute = false
[Controls]
keyboard_controls = true
mouse_controls = true
controller_controls = false
invert_y_axis = false
sensitivity = 50
key_bindings = default
[Network]
enable_online_leaderboards = true
enable_cloud_saves = true
region = auto
[Privacy]
data_collection = true
share_usage_stats = true
share_crash_reports = true
show_online_status = true
discord_rich_presence = true
[Advanced]
anti_aliasing = true
anisotropic_filtering = true
[Graphics]
auto_graphics_settings = false
[Manual_Graphics]
texture_quality = low
shadow_quality = low
particle_effects = low
post_processing = low
draw_distance = low
ambient_occlusion = off
motion_blur = off
bloom = off
depth_of_field = off
lens_flare = off
hdr = off
fov = 90
refresh_rate = low
game_type = performance
vsync_mode = adaptive
[Mods]
enabled = false
mod_list = []
mod_auto_update = true
[Debug]
show_fps = false
show_hitboxes = false
log_level = error
enable_console = false
[Experimental]
ray_tracing = false
dlss = false
fidelity_fx = false
[Cheats]
enable_cheats = false
cheat_list = []
[Accessibility]
enable_accessibility_features = false
colorblind_mode = false
text_to_speech = false
high_contrast_mode = false
subtitles_size = medium
audio_cues = true
haptic_feedback = true
custom_cursor = false
ui_scale = 100
font_size = medium
narration_speed = normal
highlight_interactive_elements = false
reduce_motion = false
simplified_ui = false
screen_reader_support = false
closed_captions = false
audio_descriptions = false
keyboard_navigation = true
voice_commands = false
alternative_input_methods = false
customizable_shortcuts = false
color_inversion = false
text_background = false
focus_mode = false
high_visibility_mode = false
magnifier = false
audio_balance = center
visual_alerts = false
contrast_adjustment = normal
dyslexia_friendly_font = false
